{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - UrGallery</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/progalcss.css' %}">
</head>
<body>
	<!-- Header Part -->
	<div id="header-part">
		<nav class="navbar navbar-custom navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                	<span class="sr-only">Toggle navigation</span>
	                	<span class="icon-bar"></span>
	                	<span class="icon-bar"></span>
	                	<span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="{% url 'welcome' %}"><img src="{% static 'images/header.png' %}"></a>
				</div>
				<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'welcome' %}">Home</a></li>
						{% if request.user.is_authenticated %}
							<li><a href="{% url 'gallery:all_images' %}">Gallery</a></li>
							<li><a href="{% url 'gallery:new_gallery' %}">New Gallery</a></li>
							<li><a href="{% url 'accounts:gallery_logout' %}">Logout {{ request.user }}</a></li>
						{% else %}
							<li><a href="{% url 'accounts:gallery_login' %}">Login</a></li>
							<li><a href="{% url 'accounts:gallery_register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<!-- Main Block -->
	<div class="wrapper">
		{% block content %}
			
		{% endblock %}
	</div>
	<!-- Footer Part -->
	<nav class="navbar navbar-fixed-bottom">
		<div id="footer-part">
	    	<div class="container">
				<div class="row">
					<div class="col-md-12"> 
						<div class="footer-content wow bounceIn" data-wow-offset="0" data-wow-delay="0.5s">
							<h4> 2018 &copy; UrGallery Limited - All Rights Reserved</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- Javascript -->
	<script type="text/javascript" href="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.lightbox.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>